{{/*
	Use the "define" at the begining of the template
	You can define multiple templates in a file, they are referred by the "name" following the "define" keyword
*/}}
{{define "polarbear_template"}}
Here is my polar bear template
{{end}}{{/*End of the template*/}}
