<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>

{{/*
Data is the "."
"." is the current value of data in that point of execution
*/}}
<h1>The meaning of life: {{.}}</h1>
</body>
</html>
